header {
  background: #000;
  border: 1px solid #000;
}
header .container {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  height: 50px;
  color: #fff;
}
header .container .card {
  display: flex;
  align-items: center;
  position: absolute;
  width: 66px;
  height: 36px;
  left: 1027px;
  top: 6px;
}
header .container .card img {
  position: absolute;
  left: 0%;
  right: 53.03%;
  top: 8.33%;
  bottom: 5.56%;
}
header .container .card p {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  line-height: 36.31px;
  position: absolute;
  left: 46.97%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
header .container .login {
  position: absolute;
  width: 91px;
  height: 32px;
  left: 1103px;
  top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(246, 246, 246);
  line-height: 19.36px;
}
header .container .register {
  position: absolute;
  width: 90px;
  height: 32px;
  left: 1170px;
  top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(246, 246, 246);
  line-height: 19.36px;
}

navbar .container {
  position: relative;
  width: 1280px;
  height: 50px;
  background: #ffffff;
}
navbar .container .navbar {
  position: absolute;
  width: 60px;
  height: 0px;
  left: 24px;
  font-size: 20px;
  font-weight: 400;
  color: text-c1-light;
  line-height: 24px;
}
navbar .container .navbar .Home {
  position: absolute;
  width: 56px;
  height: 24px;
  left: 25px;
  top: 16px;
  text-decoration: none;
  color: #000;
}
navbar .container .navbar .Men {
  position: absolute;
  width: 41px;
  height: 24px;
  left: 105px;
  top: 16px;
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}
navbar .container .navbar .Woman {
  position: absolute;
  width: 70px;
  height: 24px;
  left: 183px;
  top: 16px;
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}
navbar .container .navbar .Kid {
  position: absolute;
  width: 31px;
  height: 24px;
  left: 292px;
  top: 16px;
  text-decoration: none;
  color: #000;
}
navbar .container .navbar .Sport {
  position: absolute;
  width: 52px;
  height: 24px;
  left: 363px;
  top: 16px;
  color: #000;
  text-decoration: none;
}

header {
  background: #000;
  border: 1px solid #000;
}
header .container {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  height: 50px;
  color: #fff;
}
header .container .card {
  display: flex;
  align-items: center;
  position: absolute;
  width: 66px;
  height: 36px;
  left: 1027px;
  top: 6px;
}
header .container .card img {
  position: absolute;
  left: 0%;
  right: 53.03%;
  top: 8.33%;
  bottom: 5.56%;
}
header .container .card p {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  line-height: 36.31px;
  position: absolute;
  left: 46.97%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
header .container .login {
  position: absolute;
  width: 91px;
  height: 32px;
  left: 1103px;
  top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(246, 246, 246);
  line-height: 19.36px;
}
header .container .register {
  position: absolute;
  width: 90px;
  height: 32px;
  left: 1170px;
  top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(246, 246, 246);
  line-height: 19.36px;
}

navbar .container {
  position: relative;
  width: 1280px;
  height: 50px;
  background: #ffffff;
}
navbar .container .navbar {
  position: absolute;
  width: 60px;
  height: 0px;
  left: 24px;
  font-size: 20px;
  font-weight: 400;
  color: text-c1-light;
  line-height: 24px;
}
navbar .container .navbar .Home {
  position: absolute;
  width: 56px;
  height: 24px;
  left: 25px;
  top: 16px;
  text-decoration: none;
  color: #000;
}
navbar .container .navbar .Men {
  position: absolute;
  width: 41px;
  height: 24px;
  left: 105px;
  top: 16px;
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}
navbar .container .navbar .Woman {
  position: absolute;
  width: 70px;
  height: 24px;
  left: 183px;
  top: 16px;
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}
navbar .container .navbar .Kid {
  position: absolute;
  width: 31px;
  height: 24px;
  left: 292px;
  top: 16px;
  text-decoration: none;
  color: #000;
}
navbar .container .navbar .Sport {
  position: absolute;
  width: 52px;
  height: 24px;
  left: 363px;
  top: 16px;
  color: #000;
  text-decoration: none;
}

.RegisterContent .container {
  position: relative;
  width: 1280px;
  height: 538px;
  background: #fffcfc;
}
.RegisterContent .container h1 {
  position: absolute;
  width: 156px;
  height: 48px;
  left: 524px;
  top: 30px;
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height: 48px;
}
.RegisterContent .container .textBox1 {
  position: absolute;
  width: 482px;
  height: 51px;
  left: 120px;
  top: 140px;
  width: 482px;
  height: 51px;
  border-bottom: 5px solid #ae18e2;
}
.RegisterContent .container .textBox1 input {
  position: absolute;
  left: 0%;
  right: 28.22%;
  top: 0%;
  bottom: 29.41%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  background-color: transparent;
  border: 0px solid;
}
.RegisterContent .container .textBox1 input:focus {
  outline: none;
}
.RegisterContent .container .textBox1 p {
  position: absolute;
  left: 95.02%;
  right: -43.36%;
  top: 17.65%;
  bottom: 15.69%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
}
.RegisterContent .container .textBox2 {
  position: absolute;
  width: 482px;
  height: 51px;
  left: 701px;
  top: 140px;
  border-bottom: 5px solid #ae18e2;
}
.RegisterContent .container .textBox2 input {
  position: absolute;
  left: 0%;
  right: 28.22%;
  top: 0%;
  bottom: 29.41%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  background-color: transparent;
  border: 0px solid;
}
.RegisterContent .container .textBox2 input:focus {
  outline: none;
}
.RegisterContent .container .textBox2 p {
  position: absolute;
  left: 95.02%;
  right: -43.36%;
  top: 17.65%;
  bottom: 15.69%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
}
.RegisterContent .container .textBox3 {
  position: absolute;
  width: 482px;
  height: 51px;
  left: 120px;
  top: 218px;
  border-bottom: 5px solid #ae18e2;
}
.RegisterContent .container .textBox3 input {
  position: absolute;
  left: 0%;
  right: 28.22%;
  top: 0%;
  bottom: 29.41%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  background-color: transparent;
  border: 0px solid;
}
.RegisterContent .container .textBox3 input:focus {
  outline: none;
}
.RegisterContent .container .textBox3 p {
  position: absolute;
  left: 95.02%;
  right: -43.36%;
  top: 17.65%;
  bottom: 15.69%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
}
.RegisterContent .container .textBox4 {
  position: absolute;
  width: 482px;
  height: 51px;
  left: 696px;
  top: 218px;
  border-bottom: 5px solid #ae18e2;
}
.RegisterContent .container .textBox4 input {
  position: absolute;
  left: 0%;
  right: 28.22%;
  top: 0%;
  bottom: 29.41%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  background-color: transparent;
  border: 0px solid;
}
.RegisterContent .container .textBox4 input:focus {
  outline: none;
}
.RegisterContent .container .textBox4 p {
  position: absolute;
  left: 95.02%;
  right: -43.36%;
  top: 17.65%;
  bottom: 15.69%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
}
.RegisterContent .container .textBox5 {
  position: absolute;
  width: 482px;
  height: 51px;
  left: 120px;
  top: 302px;
  border-bottom: 5px solid #ae18e2;
}
.RegisterContent .container .textBox5 input {
  position: absolute;
  left: 0%;
  right: 28.22%;
  top: 0%;
  bottom: 29.41%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  background-color: transparent;
  border: 0px solid;
}
.RegisterContent .container .textBox5 input:focus {
  outline: none;
}
.RegisterContent .container .textBox5 p {
  position: absolute;
  left: 95.02%;
  right: -43.36%;
  top: 17.65%;
  bottom: 15.69%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
}
.RegisterContent .container h3 {
  position: absolute;
  width: 105px;
  height: 36px;
  left: 696px;
  top: 327px;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
}
.RegisterContent .container .radio1 {
  position: absolute;
  width: 140px;
  height: 50px;
  left: 823px;
  top: 313px;
}
.RegisterContent .container .radio1 input {
  position: absolute;
  left: 4.67%;
  right: 48.6%;
  top: 0%;
  bottom: 0%;
}
.RegisterContent .container .radio1 .labelMale {
  position: absolute;
  left: 60.71%;
  right: -51.43%;
  top: 20%;
  bottom: 8%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
}
.RegisterContent .container .radio2 {
  position: absolute;
  width: 140px;
  height: 50px;
  left: 1017px;
  top: 316px;
}
.RegisterContent .container .radio2 input {
  position: absolute;
  left: 4.67%;
  right: 48.6%;
  top: 0%;
  bottom: 0%;
  background-color: red;
}
.RegisterContent .container .radio2 input[type=radio] {
  background: #93e026;
}
.RegisterContent .container .radio2 .labelFemale {
  position: absolute;
  left: 60.71%;
  right: -51.43%;
  top: 20%;
  bottom: 8%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
}
.RegisterContent .container #submit {
  position: absolute;
  width: 291px;
  height: 50px;
  left: calc(50% - 145.5px + 206.5px);
  top: calc(50% - 25px + 204px);
  background-color: #ae18e2;
  border: none;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  line-height: 36px;
}
.RegisterContent .container #submit:hover {
  cursor: pointer;
}

.container {
  position: relative;
  width: 1280px;
  height: 530px;
}
.container .swiper {
  width: 1280px;
  height: 100%;
  background-image: url("../../../assets/image/image6.png");
  background-repeat: no-repeat, repeat;
  background-position: bottom center;
}
.container .swiper .swiper-wrapper {
  position: relative;
}
.container .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
}
.container .swiper .swiper-wrapper .swiper-slide img {
  position: absolute;
  width: 821px;
  height: 392px;
  left: 86px;
  top: 5px;
}
.container .swiper .swiper-wrapper .swiper-slide h3 {
  position: absolute;
  width: 291px;
  height: 51px;
  left: 930px;
  top: 124px;
  font-size: 40px;
  font-weight: 300;
  color: #000;
  line-height: 48px;
}
.container .swiper .swiper-wrapper .swiper-slide p {
  position: absolute;
  width: 291px;
  height: 51px;
  left: 890px;
  top: 175px;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  line-height: 24px;
}
.container .swiper .swiper-wrapper .swiper-slide button {
  position: absolute;
  width: 150px;
  height: 50px;
  left: 950px;
  top: 225px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  line-height: 24px;
  border: none;
  background: #f8b653;
}
.container .swiper .fa-caret-right {
  position: absolute;
  width: 66.13px;
  height: 45.71px;
  left: 1221.14px;
  top: 175px;
  font-size: 100px;
  color: rgba(241, 211, 211, 0.535);
}
.container .swiper .fa-caret-left {
  position: absolute;
  width: 66.13px;
  height: 45.71px;
  left: 18px;
  top: 183.13px;
  font-size: 100px;
  color: rgba(241, 211, 211, 0.535);
}
.container .swiper .swiper-button-next {
  opacity: 0;
}
.container .swiper .swiper-button-prev {
  opacity: 0;
}
.container .swiper .swiper-pagination {
  top: 420px;
}
.container .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.container .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #fffcfc;
  border: 1px solid gray;
}
.container .swiper .swiper-pagination-bullet-active {
  background-color: #fffcfc;
  border: 1px solid #000;
}
.container .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.container .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 10px;
}

.productFeature {
  background: #fffcfc;
}
.productFeature .container {
  position: relative;
  width: 1280px;
  height: 1044px;
}
.productFeature .container h3 {
  position: absolute;
  width: 351px;
  height: 48px;
  left: 476px;
  top: 16px;
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height: 48px;
}
.productFeature .container .item1 {
  position: absolute;
  width: 334px;
  height: 369px;
  left: 99px;
  top: 153px;
  background: #f8f8f8;
}
.productFeature .container .item1 img {
  position: absolute;
  width: 220px;
  height: 156px;
  left: 57px;
  top: 45px;
}
.productFeature .container .item1 h3 {
  position: absolute;
  width: 185px;
  height: 29px;
  left: 23px;
  top: 231px;
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item1 p {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 23px;
  top: 268px;
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
  line-height: 24px;
}
.productFeature .container .item1 .cardBooton {
  display: flex;
  align-items: center;
}
.productFeature .container .item1 .cardBooton button {
  position: absolute;
  width: 175px;
  height: 64px;
  left: 0px;
  top: 305px;
  background-color: #e1b067;
  font-size: 24px;
  font-weight: 200;
  color: #000;
  line-height: 29px;
  border: none;
}
.productFeature .container .item1 .cardBooton p {
  position: absolute;
  width: 160px;
  height: 64px;
  left: 174px;
  top: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedddc;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item2 {
  position: absolute;
  width: 334px;
  height: 369px;
  left: 500px;
  top: 153px;
  background: #f8f8f8;
}
.productFeature .container .item2 img {
  position: absolute;
  width: 220px;
  height: 156px;
  left: 57px;
  top: 45px;
}
.productFeature .container .item2 h3 {
  position: absolute;
  width: 185px;
  height: 29px;
  left: 23px;
  top: 231px;
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item2 p {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 23px;
  top: 268px;
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
  line-height: 24px;
}
.productFeature .container .item2 .cardBooton {
  display: flex;
  align-items: center;
}
.productFeature .container .item2 .cardBooton button {
  position: absolute;
  width: 175px;
  height: 64px;
  left: 0px;
  top: 305px;
  background-color: #e1b067;
  font-size: 24px;
  font-weight: 200;
  color: #000;
  line-height: 29px;
  border: none;
}
.productFeature .container .item2 .cardBooton p {
  position: absolute;
  width: 160px;
  height: 64px;
  left: 174px;
  top: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedddc;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item3 {
  position: absolute;
  width: 334px;
  height: 369px;
  left: 900px;
  top: 153px;
  background: #f8f8f8;
}
.productFeature .container .item3 img {
  position: absolute;
  width: 220px;
  height: 156px;
  left: 57px;
  top: 45px;
}
.productFeature .container .item3 h3 {
  position: absolute;
  width: 185px;
  height: 29px;
  left: 23px;
  top: 231px;
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item3 p {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 23px;
  top: 268px;
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
  line-height: 24px;
}
.productFeature .container .item3 .cardBooton {
  display: flex;
  align-items: center;
}
.productFeature .container .item3 .cardBooton button {
  position: absolute;
  width: 175px;
  height: 64px;
  left: 0px;
  top: 305px;
  background-color: #e1b067;
  font-size: 24px;
  font-weight: 200;
  color: #000;
  line-height: 29px;
  border: none;
}
.productFeature .container .item3 .cardBooton p {
  position: absolute;
  width: 160px;
  height: 64px;
  left: 174px;
  top: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedddc;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item4 {
  position: absolute;
  width: 334px;
  height: 369px;
  left: 99px;
  top: 571px;
  background: #f8f8f8;
}
.productFeature .container .item4 img {
  position: absolute;
  width: 220px;
  height: 156px;
  left: 57px;
  top: 45px;
}
.productFeature .container .item4 h3 {
  position: absolute;
  width: 185px;
  height: 29px;
  left: 23px;
  top: 231px;
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item4 p {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 23px;
  top: 268px;
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
  line-height: 24px;
}
.productFeature .container .item4 .cardBooton {
  display: flex;
  align-items: center;
}
.productFeature .container .item4 .cardBooton button {
  position: absolute;
  width: 175px;
  height: 64px;
  left: 0px;
  top: 305px;
  background-color: #e1b067;
  font-size: 24px;
  font-weight: 200;
  color: #000;
  line-height: 29px;
  border: none;
}
.productFeature .container .item4 .cardBooton p {
  position: absolute;
  width: 160px;
  height: 64px;
  left: 174px;
  top: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedddc;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item5 {
  position: absolute;
  width: 334px;
  height: 369px;
  left: 520px;
  top: 571px;
  background: #f8f8f8;
}
.productFeature .container .item5 img {
  position: absolute;
  width: 220px;
  height: 156px;
  left: 57px;
  top: 45px;
}
.productFeature .container .item5 h3 {
  position: absolute;
  width: 185px;
  height: 29px;
  left: 23px;
  top: 231px;
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item5 p {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 23px;
  top: 268px;
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
  line-height: 24px;
}
.productFeature .container .item5 .cardBooton {
  display: flex;
  align-items: center;
}
.productFeature .container .item5 .cardBooton button {
  position: absolute;
  width: 175px;
  height: 64px;
  left: 0px;
  top: 305px;
  background-color: #e1b067;
  font-size: 24px;
  font-weight: 200;
  color: #000;
  line-height: 29px;
  border: none;
}
.productFeature .container .item5 .cardBooton p {
  position: absolute;
  width: 160px;
  height: 64px;
  left: 174px;
  top: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedddc;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item6 {
  position: absolute;
  width: 334px;
  height: 369px;
  left: 900px;
  top: 571px;
  background: #f8f8f8;
}
.productFeature .container .item6 img {
  position: absolute;
  width: 220px;
  height: 156px;
  left: 57px;
  top: 45px;
}
.productFeature .container .item6 h3 {
  position: absolute;
  width: 185px;
  height: 29px;
  left: 23px;
  top: 231px;
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 29px;
}
.productFeature .container .item6 p {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 23px;
  top: 268px;
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
  line-height: 24px;
}
.productFeature .container .item6 .cardBooton {
  display: flex;
  align-items: center;
}
.productFeature .container .item6 .cardBooton button {
  position: absolute;
  width: 175px;
  height: 64px;
  left: 0px;
  top: 305px;
  background-color: #e1b067;
  font-size: 24px;
  font-weight: 200;
  color: #000;
  line-height: 29px;
  border: none;
}
.productFeature .container .item6 .cardBooton p {
  position: absolute;
  width: 160px;
  height: 64px;
  left: 174px;
  top: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedddc;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 29px;
}

.productdetail .container {
  position: relative;
  width: 1280px;
  height: 530px;
}
.productdetail .container .image {
  position: absolute;
  width: 334px;
  height: 355px;
  left: 65px;
  top: 58px;
  background: #f8f8f8;
}
.productdetail .container .image img {
  position: absolute;
  width: 220px;
  height: 156px;
  left: 57px;
  top: 109px;
}
.productdetail .container h3 {
  position: absolute;
  width: 196px;
  height: 36px;
  left: 527px;
  top: 67px;
  font-size: 30px;
  font-weight: 300;
  color: #000;
  line-height: 36px;
}
.productdetail .container p {
  position: absolute;
  width: 503px;
  height: 90px;
  left: 527px;
  top: 112px;
  font-size: 16px;
  font-weight: 400;
  color: #140101;
  line-height: 19px;
}
.productdetail .container h4 {
  position: absolute;
  width: 162px;
  height: 58px;
  left: 527px;
  top: 202px;
  font-size: 24px;
  font-weight: 400;
  color: #1ed90e;
  line-height: 29px;
}
.productdetail .container .btn38 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 526px;
  top: 250px;
  border: none;
  background-color: #cccccc;
  font-size: 24px;
  font-weight: 600;
  color: #1e1d1d;
  line-height: 29px;
}
.productdetail .container .btn39 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 597px;
  top: 250px;
  border: none;
  background-color: #cccccc;
  font-size: 24px;
  font-weight: 600;
  color: #1e1d1d;
  line-height: 29px;
}
.productdetail .container .btn40 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 669px;
  top: 250px;
  border: none;
  background-color: #cccccc;
  font-size: 24px;
  font-weight: 600;
  color: #1e1d1d;
  line-height: 29px;
}
.productdetail .container .btn41 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 740px;
  top: 250px;
  border: none;
  background-color: #cccccc;
  font-size: 24px;
  font-weight: 600;
  color: #1e1d1d;
  line-height: 29px;
}
.productdetail .container .btn42 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 811px;
  top: 250px;
  border: none;
  background-color: #cccccc;
  font-size: 24px;
  font-weight: 600;
  color: #1e1d1d;
  line-height: 29px;
}
.productdetail .container .price {
  position: absolute;
  width: 113px;
  height: 47px;
  left: 527px;
  top: 317px;
  font-size: 30px;
  font-weight: 600;
  color: #fc0303;
  line-height: 36px;
}
.productdetail .container .plus {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 527px;
  top: 370px;
  border: none;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  line-height: 36px;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
}
.productdetail .container .volunme {
  position: absolute;
  width: 14px;
  height: 36px;
  left: 597px;
  top: 377px;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
}
.productdetail .container .noplus {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 636px;
  top: 370px;
  border: none;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  line-height: 36px;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
}
.productdetail .container .add {
  position: absolute;
  width: 175px;
  height: 64px;
  left: 527px;
  top: 427px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 29px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}