.productFeature {
  background: #fffcfc;
  .container {
    position: relative;
    width: 1280px;
    height: 1044px;
    h3 {
      position: absolute;
      width: 351px;
      height: 48px;
      left: 476px;
      top: 16px;
      @include text($text-4xl, $text-regular, $text-c1-dark, 48px);
    }
    .item1 {
      position: absolute;
      width: 334px;
      height: 369px;
      left: 99px;
      top: 153px;

      background: #f8f8f8;
      img {
        position: absolute;
        width: 220px;
        height: 156px;
        left: 57px;
        top: 45px;
      }
      h3 {
        position: absolute;
        width: 185px;
        height: 29px;
        left: 23px;
        top: 231px;
        @include text(24px, $text-light, $text-c1-dark, 29px);
      }
      p {
        position: absolute;
        width: 153px;
        height: 24px;
        left: 23px;
        top: 268px;
        @include text($text-2xl, $text-light, $text-c1-der, 24px);
      }
      .cardBooton {
        @include flexDefault();

        button {
          position: absolute;
          width: 175px;
          height: 64px;
          left: 0px;
          top: 305px;
          background-color: #e1b067;
          @include text(24px, 200, $text-c1-dark, 29px);
          border: none;
        }
        p {
          position: absolute;
          width: 160px;
          height: 64px;
          left: 174px;
          top: 305px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #dedddc;
          @include text(24px, $text-semibold, $text-c1-dark, 29px);
        }
      }
    }

    .item2 {
      position: absolute;
      width: 334px;
      height: 369px;
      left: 500px;
      top: 153px;

      background: #f8f8f8;
      img {
        position: absolute;
        width: 220px;
        height: 156px;
        left: 57px;
        top: 45px;
      }
      h3 {
        position: absolute;
        width: 185px;
        height: 29px;
        left: 23px;
        top: 231px;
        @include text(24px, $text-light, $text-c1-dark, 29px);
      }
      p {
        position: absolute;
        width: 153px;
        height: 24px;
        left: 23px;
        top: 268px;
        @include text($text-2xl, $text-light, $text-c1-der, 24px);
      }
      .cardBooton {
        @include flexDefault();

        button {
          position: absolute;
          width: 175px;
          height: 64px;
          left: 0px;
          top: 305px;
          background-color: #e1b067;
          @include text(24px, 200, $text-c1-dark, 29px);
          border: none;
        }
        p {
          position: absolute;
          width: 160px;
          height: 64px;
          left: 174px;
          top: 305px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #dedddc;
          @include text(24px, $text-semibold, $text-c1-dark, 29px);
        }
      }
    }

    .item3 {
      position: absolute;
      width: 334px;
      height: 369px;
      left: 900px;
      top: 153px;

      background: #f8f8f8;
      img {
        position: absolute;
        width: 220px;
        height: 156px;
        left: 57px;
        top: 45px;
      }
      h3 {
        position: absolute;
        width: 185px;
        height: 29px;
        left: 23px;
        top: 231px;
        @include text(24px, $text-light, $text-c1-dark, 29px);
      }
      p {
        position: absolute;
        width: 153px;
        height: 24px;
        left: 23px;
        top: 268px;
        @include text($text-2xl, $text-light, $text-c1-der, 24px);
      }
      .cardBooton {
        @include flexDefault();

        button {
          position: absolute;
          width: 175px;
          height: 64px;
          left: 0px;
          top: 305px;
          background-color: #e1b067;
          @include text(24px, 200, $text-c1-dark, 29px);
          border: none;
        }
        p {
          position: absolute;
          width: 160px;
          height: 64px;
          left: 174px;
          top: 305px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #dedddc;
          @include text(24px, $text-semibold, $text-c1-dark, 29px);
        }
      }
    }
    .item4 {
      position: absolute;
      width: 334px;
      height: 369px;
      left: 99px;
      top: 571px;

      background: #f8f8f8;
      img {
        position: absolute;
        width: 220px;
        height: 156px;
        left: 57px;
        top: 45px;
      }
      h3 {
        position: absolute;
        width: 185px;
        height: 29px;
        left: 23px;
        top: 231px;
        @include text(24px, $text-light, $text-c1-dark, 29px);
      }
      p {
        position: absolute;
        width: 153px;
        height: 24px;
        left: 23px;
        top: 268px;
        @include text($text-2xl, $text-light, $text-c1-der, 24px);
      }
      .cardBooton {
        @include flexDefault();

        button {
          position: absolute;
          width: 175px;
          height: 64px;
          left: 0px;
          top: 305px;
          background-color: #e1b067;
          @include text(24px, 200, $text-c1-dark, 29px);
          border: none;
        }
        p {
          position: absolute;
          width: 160px;
          height: 64px;
          left: 174px;
          top: 305px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #dedddc;
          @include text(24px, $text-semibold, $text-c1-dark, 29px);
        }
      }
    }
    .item5 {
      position: absolute;
      width: 334px;
      height: 369px;
      left: 520px;
      top: 571px;

      background: #f8f8f8;
      img {
        position: absolute;
        width: 220px;
        height: 156px;
        left: 57px;
        top: 45px;
      }
      h3 {
        position: absolute;
        width: 185px;
        height: 29px;
        left: 23px;
        top: 231px;
        @include text(24px, $text-light, $text-c1-dark, 29px);
      }
      p {
        position: absolute;
        width: 153px;
        height: 24px;
        left: 23px;
        top: 268px;
        @include text($text-2xl, $text-light, $text-c1-der, 24px);
      }
      .cardBooton {
        @include flexDefault();

        button {
          position: absolute;
          width: 175px;
          height: 64px;
          left: 0px;
          top: 305px;
          background-color: #e1b067;
          @include text(24px, 200, $text-c1-dark, 29px);
          border: none;
        }
        p {
          position: absolute;
          width: 160px;
          height: 64px;
          left: 174px;
          top: 305px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #dedddc;
          @include text(24px, $text-semibold, $text-c1-dark, 29px);
        }
      }
    }
    .item6 {
      position: absolute;
      width: 334px;
      height: 369px;
      left: 900px;
      top: 571px;

      background: #f8f8f8;
      img {
        position: absolute;
        width: 220px;
        height: 156px;
        left: 57px;
        top: 45px;
      }
      h3 {
        position: absolute;
        width: 185px;
        height: 29px;
        left: 23px;
        top: 231px;
        @include text(24px, $text-light, $text-c1-dark, 29px);
      }
      p {
        position: absolute;
        width: 153px;
        height: 24px;
        left: 23px;
        top: 268px;
        @include text($text-2xl, $text-light, $text-c1-der, 24px);
      }
      .cardBooton {
        @include flexDefault();

        button {
          position: absolute;
          width: 175px;
          height: 64px;
          left: 0px;
          top: 305px;
          background-color: #e1b067;
          @include text(24px, 200, $text-c1-dark, 29px);
          border: none;
        }
        p {
          position: absolute;
          width: 160px;
          height: 64px;
          left: 174px;
          top: 305px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #dedddc;
          @include text(24px, $text-semibold, $text-c1-dark, 29px);
        }
      }
    }
  }
}
