<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/main.min.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container">
        <a class="Logo" href="">
          <img src="../assets/image/image 3.png" alt="logo" />
        </a>
        <!-- <div class="header-right"> -->
        <div class="card">
          <img src="../assets/image/image 8.png" alt="cart" />
          <p class="textcart">(1)</p>
        </div>
        <div class="login">Login</div>
        <div class="register">Register</div>
        <!-- </div> -->
      </div>
    </header>
    <navbar>
      <div class="container">
        <div class="navbar">
          <a href="" class="Home">Home</a>
          <a href="" class="Men">Men</a>
          <a href="" class="Woman">Woman</a>
          <a href="" class="Kid">Kid</a>
          <a href="" class="Sport">Sport</a>
        </div>
      </div>
    </navbar>
    <div class="RegisterContent">
      <div class="container">
        <h1>Register</h1>
        <div class="textBox1">
          <input type="text" placeholder="email" />

          <p>(*)</p>
          <div class="line"></div>
        </div>
        <div class="textBox2">
          <input type="text" placeholder="name" />

          <p>(*)</p>
        </div>
        <div class="textBox3">
          <input type="text" placeholder="password" />

          <p>(*)</p>
        </div>
        <div class="textBox4">
          <input type="text" placeholder="phone" />

          <p>(*)</p>
        </div>
        <div class="textBox5">
          <input type="text" placeholder="password confirm" />

          <p>(*)</p>
        </div>
        <h3>Gender</h3>
        <div class="radio1">
          <input type="radio" id="Male" name="fav_language" value="true" />

           <label class="labelMale">Male</label>  
        </div>
        <div class="radio2">
          <input type="radio" id="Female" name="fav_language" value="false" />  

          <label class="labelFemale">Famale</label>
        </div>

        <button type="button" id="submit">Submit</button>
      </div>
    </div>
    <footer>
      <div class="container">
        <img src="../assets/image/image 8 (1).png" alt="footer" />
      </div>
    </footer>
  </body>
</html>
